<!--
FILE: views/partials/navbar.ejs
 
DESCRIPTION: Generates a nav bar that incorporates
a homepage logo that redirects to the homepage, 
category select button, search bar, a redirect to the 
about-members-of-the-team page, a redirect to the 
post listing page, a redirect to the login/register
page or a logged in feature that includes
a dropdown menu leading to the user's personal page and 
a log out button.

CREATED BY: Joanne & Juan
-->

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/form.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
  />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-H9KDBVC3JK"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-H9KDBVC3JK");
  </script>
</head>

<nav class="navbar navbar-expand-sm dropdown-menu-dark navbar-dark flex-column px-3 container-fluid">
  <div class="fw-lighter">
    SFSU Software Engineering Project CSC 648-848, Spring 2022 For Demonstration
    Only
  </div>
  <ul class="navbar-nav row w-100 d-flex align-items-center justify-content-center">
    <li class="nav-item col-12 col-md-2 d-flex justify-content-center">
      <a class="navbar-brand" href="/">
        <img src="/images/gt_logo.png" width="auto" height="90px" />
      </a>
    </li>
    <li class="nav-item col-12 col-md-7 px-md-5 mb-3 mb-md-0">
      <form
        action="/results"
        class="d-flex justify-content-center"
        id="searchForm"
      >
        <div class="input-group rounded overflow-hidden">
          <select
            name="category"
            id="categories"
            class="bg-secondary border-0 text-light px-2"
          >
            <% if (category==0) {%>
            <option selected="selected" value="0">All</option>
            <%} else{%>
            <option value="0">All</option>
            <%}%> <% if (category==1) {%>
            <option selected="selected" value="1">Electronics</option>
            <%} else{%>
            <option value="1">Electronics</option>
            <%}%> <% if (category==2) {%>
            <option selected="selected" value="2">Books</option>
            <%} else{%>
            <option value="2">Books</option>
            <%}%> <% if (category==3) {%>
            <option selected="selected" value="3">Handicraft</option>
            <%} else{%>
            <option value="3">Handicraft</option>
            <%}%> <% if (category==4) {%>
            <option selected="selected" value="4">Education Supplies</option>
            <%} else{%>
            <option value="4">Education Supplies</option>
            <%}%> <% if (category==5) {%>
            <option selected="selected" value="5">Food</option>
            <%} else{%>
            <option value="5">Food</option>
            <%}%>
          </select>
          <input
            id="searchInput"
            name="search"
            type="search"
            placeholder="Search"
            class="form-control border-0"
            value="<%= search %>"
          />
          <button type="submit" class="btn btn-primary" id="searchButton">
            <a href="" class="text-light"><i class="bi bi-search"></i></a>
          </button>
        </div>
      </form>
    </li>
    <div class="d-flex justify-content-between col-12 col-md-3 px-4">
        <li class="nav-item">
            <a class="nav-link fs-4 hover" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fs-4 hover" href="/post">Post</a>
        </li>
        <% if(locals.logged) { %> <%- include('profile') %> <% } else { %>
        <li class="nav-item align-items-center">
          <a class="nav-link fs-4 hover" href="/login">Login</a>
        </li>
        <% } %>
    </div>
  </ul>
</nav>

<%- include('flash') %>
