<!--
FILE: views/partials/profile.ejs

DESCRIPTION: drop down menu for logged in users

CREATED BY: Joanne
-->
<li class="nav-item align-items-center ps-2">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle" style="font-size: 30px; color:white"> </i>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item text-dark" href="/users/myPage">My Page</a></li>
            <li><a id="logout-button" class="dropdown-item text-dark" href="">Log Out</a></li>
        </ul>
    </div>
</li>