<!DOCTYPE html>
<html>
    <head>
        <title>About Faisal</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    </head>

    <body class="bg-dark bg-gradient bg-opacity-80">
        <nav class="navbar navbar-expand-xl dropdown-menu-dark navbar-dark px-5">
            <ul class="navbar-nav mt-lg-0 w-50 row">
                <li class="nav-item d-flex align-items-center col-md-4">
                    <a class="nav-link fs-4" href="/">Team 5</a>
                </li>
                <li class="nav-item d-flex align-items-center col-md-4">
                    <a class="nav-link fs-4" href="/test_homepage">Home</a>
                </li>
                <li class="nav-item d-flex align-items-center col-md-4">
                    <a class="nav-link fs-4 active" href="#">About</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid" id="aboutContainer">
            <div class="row justify-content-center h-100 pv-2">
                <div class="card shadow-lg w-25 bg-dark text-white" id="aboutCard">
                    <img src="/images/zaheer.jpg" class="m-3" id="aboutImg">
                    <div class="card-body">
                        <h5 class="card-title font-monospace fs-3">Faisal Zaheer</h5>
                        <p class="card-text">I love computers, I like math, and I enjoy learning how to code, so I incorporate all of that into my projects. I'm also a huge Star Wars fan! "Parsec" is a unit of distance, not time!</p>
                        <div class="bi-envelope"> fzaheer@mail.sfsu.edu</div>
                        <div class="bi-telephone"> (123) 456 - 7890  </div>
                        <a class="text-decoration-none" href="https://github.com/Faisal-ZaheerVI"><div class="bi-github"> Faisal-ZaheerVI</div> </a>
                    </div>
                </div>
            </div>
        </div>

        <script src="/javascripts/bootstrap.bundle.js"></script>
    </body>

</html>