<!DOCTYPE html>
<html>
    <head>
        <title>About Juan</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    </head>

    <body class="bg-dark bg-gradient bg-opacity-80">
        <nav class="navbar navbar-expand-xl dropdown-menu-dark navbar-dark px-5">
            <ul class="navbar-nav mt-lg-0 w-50 row">
                <li class="nav-item d-flex align-items-center col-md-4">
                    <a class="nav-link fs-4" href="/">Team 5</a>
                </li>
                <li class="nav-item d-flex align-items-center col-md-4">
                    <a class="nav-link fs-4" href="/test_homepage">Home</a>
                </li>
                <li class="nav-item d-flex align-items-center col-md-4">
                    <a class="nav-link fs-4 active" href="#">About</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid" id="aboutContainer">
            <div class="row justify-content-center h-100 pv-2">
                <div class="card shadow-lg w-25 bg-dark text-white" id="aboutCard">
                    <img src="/images/juan_moleman.jpg" class="m-3" id="aboutImg">
                    <div class="card-body">
                        <h5 class="card-title font-monospace fs-3">Juan Hernandez</h5>
                        <p class="card-text">Lacking direction, expecations, aspirations and overall motivation I decided to pursue Computer Science after someone told me there's money to be made.
                            I've regretted that decision with each passing day and realize I should have gone into the mountains to farm wasabi.
                            I can write "Hello World" programs in C,C++,Python,Javascript,Java and not much else.
                            Now what I lack in raw coding ability I don't make up with my level of creativity nor ingenuity.
                        </p>
                        <div class="bi-envelope"> jhernandez54@sfsu.edu</div>
                        <div class="bi-telephone"> (907) 333-7272 </div>
                        <a class="text-decoration-none" href="https://github.com/Juan-Hernandez7" target = "_blank"><div class="bi-github"> Juan-Hernandez7</div></a>
                    </div>
                </div>
            </div>
        </div>

        <script src="/javascripts/bootstrap.bundle.js"></script>
    </body>

</html>