<!DOCTYPE html>
<html>
    <head>
        <title>About Joanne</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    </head>

    <body class="bg-dark bg-gradient bg-opacity-80">
        <nav class="navbar navbar-expand-xl dropdown-menu-dark navbar-dark px-5">
            <ul class="navbar-nav mt-lg-0 w-50 row">
                <li class="nav-item d-flex align-items-center col-md-4">
                    <a class="nav-link fs-4" href="/">Team 5</a>
                </li>
                <li class="nav-item d-flex align-items-center col-md-4">
                    <a class="nav-link fs-4" href="/test_homepage">Home</a>
                </li>
                <li class="nav-item d-flex align-items-center col-md-4">
                    <a class="nav-link fs-4 active" href="#">About</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid" id="aboutContainer">
            <div class="row justify-content-center h-100 pv-2">
                <div class="card shadow-lg w-25 bg-dark text-white" id="aboutCard">
                    <img src="/images/generic-photo.jpg" class="m-3" id="aboutImg">
                    <div class="card-body">
                        <h5 class="card-title font-monospace fs-3">Joanne Wong</h5>
                        <p class="card-text"> My most recent hobbies include playing games, listening to music, and watching dramas. Besides computer science, I enjoy many topics in psychology and sociology. </p>
                        <div class="bi-envelope"> jwong45@mail.sfsu.edu</div>
                        <div class="bi-telephone"> (918) 441 - 6850  </div>
                        <a class="text-decoration-none" href="https://github.com/Jwong1009" target = "_blank"><div class="bi-github"> Jwong1009</div> </a>
                    </div>
                </div>
            </div>
        </div>

        <script src="/javascripts/bootstrap.bundle.js"></script>
    </body>

</html>