<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
  </head>
  <body>

    <!-- <nav class="navbar navbar-expand-xl dropdown-menu-dark navbar-dark px-5">
        <ul class="navbar-nav mt-lg-0 w-50 row">
            <li class="nav-item d-flex align-items-center col-md-4">
                <a class="nav-link fs-4 active" href="/">Team 5</a>
            </li>
            <li class="nav-item d-flex align-items-center col-md-4">
                <a class="nav-link fs-4" href="/test_homepage">Home</a>
            </li>
            <li class="nav-item d-flex align-items-center col-md-4">
                <a class="nav-link fs-4" href="#">About</a>
            </li>
        </ul>
    </nav> -->

    
    <%- include('partials/navbar') %>

    <div class="container-fluid" id="homeContainer">
        <div class="container">
            <div class="border border-4 border-dark p-3 mb-2 bg-dark text-white rounded-3" id="homeHeader">
                <h1 class="text-center">Software Engineering Class at San Francisco State University<br>
                    &lt;Spring, 2022&gt;<br>
                    Section CSC 648<br>
                    Team 5
                </h1>
            </div>
        
            <div class="row justify-content-center mt-5">
                <div class="col-3 m-3 border border-4 border-dark bg-dark text-white rounded-3 text-center fs-3 "><a href="/about/patel">Kishan Patel</a></div>
                <div class="col-3 m-3 border border-4 border-dark bg-dark text-white rounded-3 text-center fs-3"><a href="/about/lei">Ze Lei</a></div>
                <div class="col-3 m-3 border border-4 border-dark bg-dark text-white rounded-3 text-center fs-3"><a href="/about/zaheer">Faisal Zaheer</a></div>
                <div class="col-3 m-3 border border-4 border-dark bg-dark text-white rounded-3 text-center fs-3"><a href="/about/hernandez">Juan Hernandez</a></div>
                <div class="col-3 m-3 border border-4 border-dark bg-dark text-white rounded-3 text-center fs-3"><a href="/about/wong">Joanne Wong</a></div>
                <div class="col-3 m-3 border border-4 border-dark bg-dark text-white rounded-3 text-center fs-3"><a href="/about/cheung">Michael Cheung</a></div>
            </div>
        </div>
    </div>

    <script src="/javascripts/bootstrap.bundle.js"></script>
  </body>
</html>