<!--
FILE: views/post.ejs

DESCRIPTION: Generates the post page where registered users are allowed to post items to sell.
-->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
<%- include('partials/navbar') %>

<div>

</div>

<%- include('partials/footer') %>

<script src="/javascripts/bootstrap.bundle.js"></script>
<script src="/javascripts/search.js"></script>
</body>