<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand-xl dropdown-menu-dark navbar-dark px-5">
        <ul class="navbar-nav mt-lg-0 w-50 row">
            <li class="nav-item d-flex align-items-center col-md-4">
                <a class="nav-link fs-4" href="/">Team 5</a>
            </li>
            <li class="nav-item d-flex align-items-center col-md-4">
                <a class="nav-link fs-4 active" href="/test_homepage">Home</a>
            </li>
            <li class="nav-item d-flex align-items-center col-md-4">
                <a class="nav-link fs-4" href="#">About</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid" id="homeContainer">
        <div class="container">
            <div class="border border-4 border-dark p-3 mb-2 bg-dark text-white rounded-3" id="homeHeader">
                <h1 class="text-center">Software Engineering Class at San Francisco State University<br>
                    &lt;Spring, 2022&gt;<br>
                    Section CSC 648<br>
                    Team 5
                </h1>
            </div>
            
            <form action="/test_results" class="d-flex justify-content-center mt-5">
                <div class="input-group w-50 rounded overflow-hidden">
                    <select name="category" id="categories" class="bg-secondary border-0 text-light px-2">
                        <option value=0>All</option>
                        <option value=1>One</option>
                        <option value=2>Two</option>
                        <option value=3>Three</option>
                        <option value=4>Four</option>
                        <option value=5>Five</option>
                    </select>
                    <input id="searchInput" name="search" type="search" placeholder="Search" class="form-control border-0"/>
                    <!-- <input type="button" class="btn btn-primary"> -->
                    <button type="submit" class="btn btn-primary">
                        <a href="" class="text-light"><i class="fas fa-search"></i></a>
                    </button>
                </div>
            </form>

            <div id="results">
                
            </div>
        </div>
    </div>

    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="/javascripts/search.js"></script>
  </body>
</html>