<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand-xl dropdown-menu-dark navbar-dark px-5">
        <ul class="navbar-nav mt-lg-0 w-50 row">
            <li class="nav-item d-flex align-items-center col-md-4">
                <a class="nav-link fs-4" href="/">Team 5</a>
            </li>
            <li class="nav-item d-flex align-items-center col-md-4">
                <a class="nav-link fs-4 active" href="/test_homepage">Home</a>
            </li>
            <li class="nav-item d-flex align-items-center col-md-4">
                <a class="nav-link fs-4" href="#">About</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid" id="homeContainer">
        <div class="container">
            <div class="border border-4 border-dark p-3 mb-2 bg-dark text-white rounded-3" id="homeHeader">
                <h1 class="text-center">Software Engineering Class at San Francisco State University<br>
                    &lt;Spring, 2022&gt;<br>
                    Section CSC 648<br>
                    Team 5
                </h1>
            </div>
            <div>
                <p>Showing 6 out of 10 items.</p>
            </div>
            <div id="results">
                <div class="row mb-5">
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img src="https://www.petmd.com/sites/default/files/2020-11/picture-of-golden-retriever-dog_0.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Item title</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Seller Name</h6>
                              <p class="card-text">Item description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, explicabo.</p>
                              <span class="border border-primary rounded-2 px-4 pv-2 fs-5">Price</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="https://www.petmd.com/sites/default/files/2020-11/picture-of-golden-retriever-dog_0.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Item title</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Seller Name</h6>
                              <p class="card-text">Item description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, explicabo.</p>
                              <span class="border border-primary rounded-2 px-4 pv-2 fs-5">Price</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="https://www.petmd.com/sites/default/files/2020-11/picture-of-golden-retriever-dog_0.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Item title</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Seller Name</h6>
                              <p class="card-text">Item description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, explicabo.</p>
                              <span class="border border-primary rounded-2 px-4 pv-2 fs-5">Price</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="https://www.petmd.com/sites/default/files/2020-11/picture-of-golden-retriever-dog_0.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Item title</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Seller Name</h6>
                              <p class="card-text">Item description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, explicabo.</p>
                              <span class="border border-primary rounded-2 px-4 pv-2 fs-5">Price</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="https://www.petmd.com/sites/default/files/2020-11/picture-of-golden-retriever-dog_0.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Item title</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Seller Name</h6>
                              <p class="card-text">Item description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, explicabo.</p>
                              <span class="border border-primary rounded-2 px-4 pv-2 fs-5">Price</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="https://www.petmd.com/sites/default/files/2020-11/picture-of-golden-retriever-dog_0.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Item title</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Seller Name</h6>
                              <p class="card-text">Item description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, explicabo.</p>
                              <span class="border border-primary rounded-2 px-4 pv-2 fs-5">Price</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/bootstrap.bundle.js"></script>
  </body>
</html>