<!--
FILE: views/userSettings.ejs

DESCRIPTION: Allows user to update and change their
account information. 

CREATED BY: Joanne
-->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/navbar') %>

    <div class="flex-grow-1">

        <div class="d-flex justify-content-between">
            <div class="h1 mt-2 ms-2">
                Settings
            </div>
             <div class="h3 m-2">
                <a href="myPage/myPosts" class="link-secondary">
                    <i class="pt-2 bi bi-arrow-return-left" style="font-size: 40px;"></i>
                    Return to My Page
                </a>
            </div>
        </div>
        <div class="container-fluid p-3" id="aboutContainer">
            <div class="row justify-content-center pv-2">
                <div class="card shadow-lg w-50 bg-dark text-white" id="loginCard">
                    <div class="card-body">
                        <form>
                            <div class="row m-3">
                                <div class="col">
                                    <label for="email" class="col-form-label">SFSU E-mail</label>
                                </div>
                                <div class="col">
                                    <input class="form-control" id="disabledInput" type="text"
                                    placeholder="<%= userEmail%>" disabled>
                                </div>
                            </div>
                            
                            <div class="row m-3">
                                <div class="col">
                                    <label for="firstName" class="col-form-label"> First Name </label>
                                </div>
                                <div class="col">
                                    <input type="firstName" id="firstName" class="form-control" placeholder="First Name"
                                    required>
                                </div>
                            </div>
                            
                            <div class="row m-3">
                                <div class="col">
                                    <label for="lastName" class="col-form-label">Last Name</label>
                                </div>
                                <div class="col">
                                    <input type="text" id="lastname" class="form-control" placeholder="Last Name"
                                    required>
                                </div>
                            </div>
                            
                            
                            <div class="row m-3">
                                <div class="col">
                                    <label for="currentPassword" class="col-form-label">Current Password</label>
                                </div>
                                <div class="col">
                                    <input type="password" id="currentPassword" class="form-control"
                                    placeholder="Current Password" required>
                                </div>
                            </div>
                            
                            <div class="row m-3">
                                <div class="col">
                                    <label for="newPassword" class="col-form-label">New Password</label>
                                </div>
                                <div class="col">
                                    <input type="password" id="newPassword" class="form-control"
                                    placeholder="New Password" required>
                                    <span id="passwordReminder" class="form-text text-white-50">
                                        Must be at least 10 characters long.
                                    </span>
                                </div>
                            </div>
                            
                            <div class="row m-3">
                                <div class="col">
                                    <label for="newPassword" class="col-form-label">Re-Type Password</label>
                                </div>
                                <div class="col">
                                    <input type="password" id="retypePassword" class="form-control"
                                    placeholder="Re-Type Password" required>
                                </div>
                            </div>
                            
                            <div class="text-center">
                                <div class="m-2">
                                    <button class="btn btn-secondary col-3 mx-2" type="button">
                                        Confirm
                                    </button>
                                    <button class="btn btn-secondary col-3 mx-2" type="button">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <%- include('partials/footer') %>
            <script src="/javascripts/bootstrap.bundle.js"></script>
            <script src="/javascripts/search.js"></script>
</body>

</html>