<!--
FILE: views/userPage.ejs

DESCRIPTION: Displays the dashboard to the user 
to allow them to go to either to their settings, 
posts, messages, and reviews tab.

CREATED BY: Joanne 
-->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="flex-grow-1">
        <div class="h1 mt-2 ms-2">
            Hello <%= name%>!
        </div>
            <div class="d-flex flex-wrap justify-content-center">
                <div class="m-4">
                    <a href="/users/myPosts" id="listingsTab">
                        <div class="col m-3 border border-dark p-3 mb-2 bg-dark text-white rounded-3 fs-1 text-center" style="width:500px">
                            My Posts
                            <div class="text-white fs-5">
                                View your recent posts here
                            </div>
                        </div>
                    </a>
                    <a href="/users/settings" id="settingsTab">
                        <div class="col m-3 border border-dark p-3 mb-2 bg-dark text-white rounded-3 fs-1 text-center" style="width:500px">
                            Settings
                            <div class="text-white fs-5">
                                Update or change your account information here
                            </div>
                        </div>
                    </a>
                </div>
                <div class="m-4">
                    <a href="/users/myMessages" id="messagesTab">
                        <div class="col m-3 border border-dark p-3 mb-2 bg-dark text-white rounded-3 fs-1 text-center" style="width:500px">
                            Messages
                            <div class="text-white fs-5">
                                View incoming and recent messages here
                            </div>
                        </div>
                    </a>
                    <a href="/users/reviews" id="messagesTab">
                        <div class="col m-3 border border-dark p-3 mb-2 bg-dark text-white rounded-3 fs-1 text-center" style="width:500px">
                            Reviews
                            <div class="text-white fs-5">
                                View your reviews here
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </div>
    <%- include('partials/footer') %>
    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="/javascripts/search.js"></script>
</body>

</html>