a{
    text-decoration: none;
}

.navbar{
    height: 10%;
}

#aboutContainer,
#homeContainer{
    background: lightblue;
}

#homeContainer{
    padding-top: 15px;
}

#aboutContainer .row{
    display: flex;
    align-items: center;
}

#aboutCard{
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#aboutImg{
    height: 275px;
    width: 275px;
    border-radius: 50%;
}